# question 1

In [9]:
import math
# given list of 10 students age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# 1) sorting list values and finding min, max values of ages
## step 1: Sorting list values
sorted_ages = sorted(ages)
print("Sorted List values: ",sorted_ages)
## step 2: Finding min and max values
min_age = min(sorted_ages)
max_age = max(sorted_ages)
print(f"Maximum Age is {min_age} and Maximum age is {max_age}" )
## Adding min and max values to list again
sorted_ages.extend([min_age, max_age])
print("list after adding min and max values: ", sorted_ages)
## Finding median age of list
sorted_ages = sorted(sorted_ages)
n = math.floor(len(sorted_ages))
median = (sorted_ages[int(n/2)] + sorted_ages[int(n/2)+1])/2
print(median)

## Finding Average age
avg_age = sum(sorted_ages)/len(sorted_ages)
print(avg_age)
## finding Range of list 
range_ages = max(sorted_ages) - min(sorted_ages)
print(range_ages)

Sorted List values:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Maximum Age is 19 and Maximum age is 26
list after adding min and max values:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
24.0
22.75
7

# Question 2

In [10]:

## creating an empty dictionary named dog
dog = {}
dog.update({'Name': 'Scoopy', 'Color': 'Brown', 'Breed':'German Shepard', 'Legs': 4, 'Age': 3})
student = {'first_name': 'Jhon', 'last_name': 'Pal', 'gender' : 'Male', 'age': 22, 'marital status' : 'Single', 'skills': ['python', 'ruby', 'node.js'], 'country': 'USA', 'city' : 'St.petersburg' , 'address': '4532 west, 124th st, kp town, 65342'}
## printing length of student dictionary 
print("Length of student dictionary:",len(student))
## listing values of skills and checking data type
print(student['skills'], "Data type: ", type(student['skills']))
## modifying skills in student dictionary
student['skills'].extend(['java', 'html'])
print(student)
## Printing dictionary keys as list
print(student.keys())
## Printing student dictionary values as list
print(student.values())

Length of student dictionary: 9
['python', 'ruby', 'node.js'] Data type:  <class 'list'>
{'first_name': 'Jhon', 'last_name': 'Pal', 'gender': 'Male', 'age': 22, 'marital status': 'Single', 'skills': ['python', 'ruby', 'node.js', 'java', 'html'], 'country': 'USA', 'city': 'St.petersburg', 'address': '4532 west, 124th st, kp town, 65342'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Jhon', 'Pal', 'Male', 22, 'Single', ['python', 'ruby', 'node.js', 'java', 'html'], 'USA', 'St.petersburg', '4532 west, 124th st, kp town, 65342'])

# Question 3

In [11]:
## create brothers and sisters tuple 
brothers = ('Jhon', 'Jimmy', 'Michel')
sisters = ('Lara', 'Roosi')
print("Brothers: ",brothers,"Sisters: ", sisters)
## adding brothers and sisters into sublings
siblings = brothers + sisters
print("Concatnation of brothers and sisters: ",siblings)
# length of siblings
print("No of Siblings :", len(siblings))
# adding father mother and siblings to family tuple
family = siblings + ('Mike', 'Joo')
print("Family tuple: ",family)

Brothers:  ('Jhon', 'Jimmy', 'Michel') Sisters:  ('Lara', 'Roosi')
Concatnation of brothers and sisters:  ('Jhon', 'Jimmy', 'Michel', 'Lara', 'Roosi')
No of Siblings : 5
Family tuple:  ('Jhon', 'Jimmy', 'Michel', 'Lara', 'Roosi', 'Mike', 'Joo')

# Question 4

In [12]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
# printing length of it_companies
print("Length of it_companies: ", len(it_companies))
# adding Twitter to it_companies
it_companies.add('Twitter')
print("Added Twitter company to it_companies: ", it_companies)
# adding multiple it_companies
it_companies.update({'Capital One', 'Neura Link', 'TCS'})
print("Added multiple IT companies: ",it_companies)
# removing Capital one from it_companies
it_companies.remove('Capital One')
print(it_companies)
# Joining two sets
A.union(B)
print("Added A & B sets: ", A)

# Intersection b/w A and B
intersectionAB = A.intersection(B)
print("A intersection B: ", intersectionAB)

# finding subset and disjoint set
print(A.issubset(B))
print(A.isdisjoint(B))

# joining A with B and B with A
A.union(B)
print("Joining set A with B: ",A)

B.union(A)
print("Joining B with A: ", B)

# finding symmetric difference
A.symmetric_difference(B)
print(A)

# converting age list to set anf comparing list and set of age
age_set = set(age)

print(len(age) == len(age_set))

# deleting set A and set B
del(A)
print(A)
del(B)
print(B)

Length of it_companies:  7
Added Twitter company to it_companies:  {'Twitter', 'IBM', 'Microsoft', 'Oracle', 'Facebook', 'Apple', 'Amazon', 'Google'}
Added multiple IT companies:  {'Microsoft', 'Neura Link', 'Facebook', 'Apple', 'Capital One', 'Twitter', 'IBM', 'Oracle', 'TCS', 'Amazon', 'Google'}
{'Microsoft', 'Neura Link', 'Facebook', 'Apple', 'Twitter', 'IBM', 'Oracle', 'TCS', 'Amazon', 'Google'}
Added A & B sets:  {19, 20, 22, 24, 25, 26}
A intersection B:  {19, 20, 22, 24, 25, 26}
True
False
Joining set A with B:  {19, 20, 22, 24, 25, 26}
Joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
False

NameError: name 'A' is not defined

# question 5

In [13]:
import math
# calculate area of circle with static radius
Radius = 30
_area_of_circle_ = math.pi * (Radius**2)
print(_area_of_circle_)

2827.4333882308138

In [14]:
# calculating circumference of circle
_circum_of_circle_ = 2* math.pi * Radius
print(_circum_of_circle_)

188.49555921538757

In [16]:
# calculating area of circle with user input radius
user_radius = int(input("Enter Radius for circle: "))
area_of_circle = math.pi *(user_radius**2)
print(area_of_circle)

706.8583470577034

# question 6

In [17]:
# finding count of unique values in given string
string = "I am a teacher and I love to inspire and teach people"
set_words = set(string.split(" "))
print("No of unique words are: ", len(set_words))

No of unique words are:  10

# Question 7

In [18]:
# using \t and \n to print tab seperated values
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

# Question 8

In [19]:
# printing text using string format method
radius = 10
area = 3.14 * radius**2
print("The area of circle with {} is {} meters square".format(radius, int(area)))

The area of circle with 10 is 314 meters square

# Question 9

In [20]:
# converting lbs to kgs by taking user input for number student and weight in lbs for student respectively
n = int(input("Enter no of students: "))
lbs_weights = []
count = 0
while count < n:
    lb_w = int(input("Enter student weight: "))
    lbs_weights.append(lb_w)
    count += 1
print("Weights in Lbs: ", lbs_weights)
kgs_weights = []
for i in lbs_weights:
    kg_w = i*0.454
    kgs_weights.append(kg_w)
print("Weights in Kgs: ", kgs_weights)

Weights in Lbs:  [120, 140, 160, 150]
Weights in Kgs:  [54.480000000000004, 63.56, 72.64, 68.10000000000001]