In [54]:
import pandas as pd
import numpy as np
from google.colab import drive
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.svm import SVC  
from sklearn.metrics import accuracy_score, classification_report

In [37]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
df = pd.read_csv('/content/drive/MyDrive/ML-assignment/pd_speech_features.csv')

In [39]:
df.head()

,id,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,...,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36,class
0,0,1,0.85247,0.71826,0.57227,240,239,0.008064,0.000087,0.00218,...,1.5620,2.6445,3.8686,4.2105,5.1221,4.4625,2.6202,3.0004,18.9405,1
1,0,1,0.76686,0.69481,0.53966,234,233,0.008258,0.000073,0.00195,...,1.5589,3.6107,23.5155,14.1962,11.0261,9.5082,6.5245,6.3431,45.1780,1
2,0,1,0.85083,0.67604,0.58982,232,231,0.008340,0.000060,0.00176,...,1.5643,2.3308,9.4959,10.7458,11.0177,4.8066,2.9199,3.1495,4.7666,1
3,1,0,0.41121,0.79672,0.59257,178,177,0.010858,0.000183,0.00419,...,3.7805,3.5664,5.2558,14.0403,4.2235,4.6857,4.8460,6.2650,4.0603,1
4,1,0,0.32790,0.79782,0.53028,236,235,0.008162,0.002669,0.00535,...,6.1727,5.8416,6.0805,5.7621,7.7817,11.6891,8.2103,5.0559,6.1164,1

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Columns: 755 entries, id to class
dtypes: float64(749), int64(6)
memory usage: 4.4 MB

In [41]:
df.columns

Index(['id', 'gender', 'PPE', 'DFA', 'RPDE', 'numPulses', 'numPeriodsPulses',
       'meanPeriodPulses', 'stdDevPeriodPulses', 'locPctJitter',
       ...
       'tqwt_kurtosisValue_dec_28', 'tqwt_kurtosisValue_dec_29',
       'tqwt_kurtosisValue_dec_30', 'tqwt_kurtosisValue_dec_31',
       'tqwt_kurtosisValue_dec_32', 'tqwt_kurtosisValue_dec_33',
       'tqwt_kurtosisValue_dec_34', 'tqwt_kurtosisValue_dec_35',
       'tqwt_kurtosisValue_dec_36', 'class'],
      dtype='object', length=755)

In [42]:
df.isnull().sum().sum()
# The Value return as zero hence there are no null values

0

In [43]:
def scale_inputdata(df):
  df = df.drop('id', axis=1)
  y = df['class']
  x = df.drop('class', axis=1)
  scaler = StandardScaler()

  x = pd.DataFrame(scaler.fit_transform(x), columns=x.columns, index= x.index)

  return x, y

In [44]:
x, y = scale_inputdata(df)

In [45]:
x

,gender,PPE,DFA,RPDE,numPulses,numPeriodsPulses,meanPeriodPulses,stdDevPeriodPulses,locPctJitter,locAbsJitter,...,tqwt_kurtosisValue_dec_27,tqwt_kurtosisValue_dec_28,tqwt_kurtosisValue_dec_29,tqwt_kurtosisValue_dec_30,tqwt_kurtosisValue_dec_31,tqwt_kurtosisValue_dec_32,tqwt_kurtosisValue_dec_33,tqwt_kurtosisValue_dec_34,tqwt_kurtosisValue_dec_35,tqwt_kurtosisValue_dec_36
0,0.968742,0.627644,0.256144,0.605835,-0.846892,-0.842373,0.933328,-0.407251,-0.054993,0.037843,...,-0.445877,-0.584822,-0.619412,-0.576762,-0.482286,-0.399331,-0.484533,-0.775137,-0.814727,-0.366595
1,0.968742,0.121620,-0.080433,0.368415,-0.907404,-0.902773,1.040014,-0.426092,-0.142570,-0.027698,...,-0.445730,-0.584895,-0.589778,0.193084,0.016183,-0.067120,-0.175566,-0.526647,-0.582972,0.400396
2,0.968742,0.617950,-0.349839,0.733609,-0.927575,-0.922907,1.084576,-0.443557,-0.214916,-0.088871,...,-0.446030,-0.584767,-0.629033,-0.356261,-0.156055,-0.067593,-0.463462,-0.756063,-0.804390,-0.780935
3,-1.032266,-1.980560,1.382279,0.753631,-1.472186,-1.466513,2.464215,-0.275316,0.710353,1.256919,...,-0.321598,-0.532242,-0.591137,-0.522406,0.008400,-0.449894,-0.470865,-0.633475,-0.588387,-0.801583
4,-1.032266,-2.472989,1.398068,0.300123,-0.887233,-0.882640,0.987044,3.143597,1.152045,1.178269,...,-0.300835,-0.475545,-0.521356,-0.490090,-0.404833,-0.249678,-0.042021,-0.419354,-0.672216,-0.741477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,-1.032266,0.370878,-1.964406,-1.494032,0.938221,0.939445,-0.949508,-0.454833,-0.641378,-0.601407,...,-0.402551,-0.549067,-0.607926,-0.606048,-0.568065,-0.485855,-0.541021,-0.726748,-0.800868,-0.719532
752,-1.032266,-3.460449,-1.943738,0.749044,0.918050,0.909245,-0.991826,-0.224083,-0.340570,-0.447165,...,-0.030964,-0.575143,-0.646996,-0.656733,-0.567791,-0.389427,-0.496835,-0.540668,-0.266633,-0.089572
753,-1.032266,0.813362,0.329201,-0.152220,0.575147,0.577042,-0.707165,-0.385449,-0.595685,-0.562082,...,2.661752,0.600185,0.663206,0.296651,-0.377602,-0.526610,-0.602494,-0.716743,-0.790177,-0.772873
754,-1.032266,0.541051,0.695920,0.066780,0.161646,0.164304,-0.373097,-0.450845,-0.534762,-0.502220,...,-0.356701,-0.167720,-0.306983,-0.377910,-0.582427,-0.577843,-0.637378,-0.771325,-0.826319,-0.811732
755,-1.032266,0.394581,0.922840,-0.184327,0.161646,0.164304,-0.374874,-0.475599,-0.588070,-0.538924,...,-0.226089,0.871132,-0.031441,-0.366065,-0.450088,-0.515638,-0.571546,-0.686581,-0.840983,-0.828114

In [46]:
def pca_inputdata(x,y):
  pca = PCA(n_components=3)
  x_pca = pca.fit_transform(x)
  pca_df = pd.DataFrame(data=x_pca, columns=['component_1', 'component_2', 'component_3'])
  final_df = pd.concat([pca_df, y],axis=1)
  return final_df

In [47]:
final_pca_df = pca_inputdata(x,y)
final_pca_df

     component_1  component_2  component_3  class
0     -10.034309     1.473187    -6.836295      1
1     -10.624667     1.585847    -6.820879      1
2     -13.503155    -1.251540    -6.809194      1
3      -9.143503     8.834664    15.302884      1
4      -6.752753     4.612583    15.649151      1
..           ...          ...          ...    ...
751    22.310813     6.480638     1.451794      0
752    13.430632     1.447524     9.344599      0
753     8.257256     2.389438    -0.919611      0
754     3.998611     5.410283    -0.858437      0
755     3.980102     6.070523    -2.031892      0

[756 rows x 4 columns]

In [55]:
def svm_classifier(dataset):
  x = dataset.iloc[:,:-1]
  y = dataset.iloc[:,-1]

  x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4, random_state=101)

  classifier = SVC(kernel='linear')
  classifier.fit(x_train, y_train)
  y_pred = classifier.predict(x_test)
  accuracy = accuracy_score(y_test, y_pred)
  report = classification_report(y_test, y_pred)
  return accuracy, report

In [57]:
accuracy, report = svm_classifier(final_pca_df)
print("accuracy of SVM Classifier is: ", accuracy)
print("Classification report of SVM Classifier is: \n", report)

accuracy of SVM Classifier is:  0.8085808580858086
Classification report of SVM Classifier is:
               precision    recall  f1-score   support

           0       0.69      0.31      0.43        70
           1       0.82      0.96      0.88       233

    accuracy                           0.81       303
   macro avg       0.76      0.64      0.66       303
weighted avg       0.79      0.81      0.78       303